#[Info]
site_name: CMQNote
site_url: https://PCDL233.github.io/Mkdocs_Note/
site_author: CMQ233
#[UI]
theme:
  name: material
  palette:
    #primary: blue grey

    - scheme: default # 白天模式
      primary: light blue # 上方的
      accent: light blue # 链接等可交互元件的高亮色
      toggle:
        icon: material/brightness-7 # 图标
        name: 切换至夜间模式 # 鼠标悬浮提示
    - scheme: slate # 夜晚模式
      primary: black
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: 切换至日间模式
  features:
    - navigation.instant #- header.autohide  #自动隐藏
    - announce.dismiss #呈现可标记为由用户读取的临时公告，可以包含一个用于取消当前公告的按钮
    - navigation.tracking #地址栏中的 URL 将自动更新为在目录中突出显示的活动锚点
    - navigation.tabs #顶级部分将呈现在上面视口标题下方的菜单层中，但在移动设备上保持原样
    #- navigation.tabs.sticky  #启用粘性选项卡后，导航选项卡将锁定在标题下方，并在向下滚动时始终保持可见
    #- navigation.sections #启用部分后，顶级部分在边栏中呈现为1220px以上视口的组，但在移动设备上保持原样
    - navigation.top # 返回顶部的按钮 在上滑时出现
    - search.suggest # 搜索输入一些字母时推荐补全整个单词
    - search.highlight # 搜索出的文章关键词加入高亮
    - navigation.expand # 打开Tab时左侧目录全部展开
    - navigation.indexes #启用节索引页后，可以将文档直接附加到节
    - search.share #搜索分享按钮
  language: zh # 一些提示性的文字会变成中文


  icon:
    repo: fontawesome/brands/github #右上角图标
edit_uri: index.md # 编辑按钮跳转的链接
repo_url: https://github.com/PCDL233/Mkdocs_Note # 右上角点击跳转的链接
repo_name: Mkdocs_Note.github.io # 右上角的名字

nav:
  - 学习:
      - JavaScript:
         - JavaScript学习笔记: file/JavaScript/JavaScript学习笔记.md
    #- markdown:
      - 算法可视化学习网站: 算法可视化网站.md
  - C语言:
          - 排序方法: file/C_C++/c语言/C语言——排序方法：.md
          - 递归: file/C_C++/c语言/c语言——递归.md
          - 字符串函数: file/C_C++/c语言/C语言字符串函数：.md
          - 穷举法: file/C_C++/c语言/枚举法（穷举法）.md
  - c++:
          - string: file/C_C++/c++/C++ 中string函数用法：.md
          - c++标准模板(STL): file/C_C++/c++/C++ 标准模板库（STL）.md
  - python:
          - 01-变量和数据类型: file/Python_Study/Python学习-黑马程序/01-变量和数据类型.md
          - 02-字符串格式化: file/Python_Study/Python学习-黑马程序/02-字符串格式化.md
          - 03-数据输入: file/Python_Study/Python学习-黑马程序/03-数据输入.md
          - 04-布尔类型: file/Python_Study/Python学习-黑马程序/04-布尔类型.md
          - 05-分支结构: file/Python_Study/Python学习-黑马程序/05-分支结构.md
          - 06-循环结构: file/Python_Study/Python学习-黑马程序/06-循环结构.md
          - 07-函数: file/Python_Study/Python学习-黑马程序/07-函数.md
          - 08-函数案例: file/Python_Study/Python学习-黑马程序/08-函数案例.md
          - 09-数据容器: file/Python_Study/Python学习-黑马程序/09-数据容器.md
          - 10-列表(list): file/Python_Study/Python学习-黑马程序/10-列表(list).md
          - 11-元组(tuple): file/Python_Study/Python学习-黑马程序/11-元组(tuple).md
          - 12-字符串: file/Python_Study/Python学习-黑马程序/12-字符串.md
          - 13-序列、切片: file/Python_Study/Python学习-黑马程序/13-序列、切片.md
          - 14-集合(set): file/Python_Study/Python学习-黑马程序/14-集合(set).md
          - 15-字典(dict): file/Python_Study/Python学习-黑马程序/15-字典(dict).md
          - 16-数据容器的通用操作: file/Python_Study/Python学习-黑马程序/16-数据容器的通用操作.md
          - 17-函数的参数类型: file/Python_Study/Python学习-黑马程序/17-函数的参数类型.md
          - 18-匿名函数: file/Python_Study/Python学习-黑马程序/18-匿名函数.md
          - 19-python文件操作: file/Python_Study/Python学习-黑马程序/19-python文件操作.md
          - 20-python异常、模块与包: file/Python_Study/Python学习-黑马程序/20-python异常、模块与包.md
          - 21-面向对象: file/Python_Study/Python学习-黑马程序/21-面向对象.md
          - 22-类的成员方法: file/Python_Study/Python学习-黑马程序/22-类的成员方法.md
          - 23-类和对象: file/Python_Study/Python学习-黑马程序/23-类和对象.md
          - 24-构造方法: file/Python_Study/Python学习-黑马程序/24-构造方法.md
          - 25-其他内置方法: file/Python_Study/Python学习-黑马程序/25-其他内置方法.md
          - 26-面向对象3大特性: file/Python_Study/Python学习-黑马程序/26-面向对象3大特性.md
          - 27-类型注解: file/Python_Study/Python学习-黑马程序/27-类型注解.md
  - 数据结构学习:
      - 线性表:
          - 01: file/数据结构/线性表/dataStructure_day01.md
          - 02: file/数据结构/线性表/dataStructure_day02.md
          - 03: file/数据结构/线性表/dataStructure_day03.md
          - 单链表: file/数据结构/线性表/单链表.md
          - 顺序表: file/数据结构/线性表/顺序表.md
          - 单链表(代码): file/数据结构/线性表/单链表(代码).md
          - 循环链表: file/数据结构/线性表/循环链表.md
          - 双向链表: file/数据结构/线性表/双向链表.md
      - 栈和队列:
          - 顺序栈: file/数据结构/线性表/顺序栈.md
          - 链栈: file/数据结构/线性表/链栈.md
          - 顺序循环队列: file/数据结构/线性表/顺序队列.md
          - 链式队列: file/数据结构/线性表/链式队列.md
      - 二叉树: file/数据结构/二叉树/二叉树.md
  - 数据结构实验:
      - 顺序表: file/数据结构/数据结构实验/学生通讯录(顺序表).md
      - 链表: file/数据结构/数据结构实验/学生通讯录(单链表).md
      - 走迷宫问题: file/数据结构/数据结构实验/走迷宫（栈实现）.md
  - 排序算法:
      - 冒泡排序: file/数据结构/sortAlgorithm/bubbleSort.md
      - 计数排序: file/数据结构/sortAlgorithm/countingSort.md
      - 堆排序: file/数据结构/sortAlgorithm/heapSort.md
      - 插入排序: file/数据结构/sortAlgorithm/insertionSort.md
      - 归并排序: file/数据结构/sortAlgorithm/mergeSort.md
      - 快速排序: file/数据结构/sortAlgorithm/quickSort.md
      - 选择排序: file/数据结构/sortAlgorithm/selectionSort.md
      - 希尔排序: file/数据结构/sortAlgorithm/shellSort.md




copyright: Copyright &copy; 2023 by CMQ233 # 左下角的版权声明


extra:
  generator: false  #删除页脚显示“使用 MkDocs 材料制造”
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/PCDL233
    - icon: fontawesome/brands/bilibili
      link: https://space.bilibili.com/107669273?spm_id_from=333.1007.0.0
    - icon: fontawesome/solid/paper-plane
      link: mailto:<2815834616@qq.com> #联系方式

plugins:
  - search
markdown_extensions:
  - abbr
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - md_in_html
  - pymdownx.arithmatex:  # latex支持
      generic: true
  - toc:
      permalink: true # 固定标题位置为当前位置
  - pymdownx.highlight: # 代码块高亮
      anchor_linenums: true
      linenums: true # 显示行号
      auto_title: true # 显示编程语言名称
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences # 代码块高亮插件
  - meta # 支持Markdown文件上方自定义标题标签等

extra_javascript:
  - js/extra.js
  - js/mathjax.js
#  - js/backgroud.js
  - js/shortcuts.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - css/extra.css
  - css/video.css


